<div class="container">
  <!-- Content here -->
  <div class="col-md-auto">
      <div >
          <form class="searchForm">
              <div class="form-group">
                  <div class="input-group">
                      <input class="form-control" type="search" name="searchString" placeholder="Search" aria-label="Search" [(ngModel)]="searchString">
                      <button type="button" class="btn btn-info" (click)="openAddModal()"><div class="ajoutContact">Ajouter</div></button>
                  </div>
              </div>
          </form>
          </div>
</div>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Télephone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consultant of consultants | filter: searchString" [class.selected]="consultant === selectedConsultant"  >
        <td> {{consultant.lastname | uppercase}}</td>
        <td> {{consultant.firstname}}</td>
        <td> {{consultant.email}}</td>
        <td> {{consultant.phoneNumber}}</td>
        <td>
          <button type="button" (click)="openEditModal(consultant)"><img src="https://img.icons8.com/cotton/30/000000/multi-edit.png"></button>
          <button type="button" (click)="onDelete(consultant)"><img src="https://img.icons8.com/color/30/000000/cancel.png"></button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
