<div class="container">
  <!-- Content here -->
  <div class="col-md-auto">
    <button mat-raised-button type="button" class="btn btn-info">Ajouter</button>
</div>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Télephone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consultant of consultants" [class.selected]="consultant === selectedConsultant">
        <td> {{consultant.lastname | uppercase}}</td>
        <td> {{consultant.firstname}}</td>
        <td> {{consultant.email}}</td>
        <td> {{consultant.phoneNumber}}</td>
        <td>
          <button type="button" (click)="onSelect()"><img src="https://img.icons8.com/cotton/30/000000/multi-edit.png"></button>
          <button type="button" (click)="onDelete(consultant)"><img src="https://img.icons8.com/color/30/000000/cancel.png"></button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
