<div class="container">
  <!-- Content here -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Télephone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consultant of consultants" [class.selected]="consultant === selectedConsultant">
        <td> {{consultant.lastname | uppercase}}</td>
        <td> {{consultant.firstname}}</td>
        <td> {{consultant.email}}</td>
        <td> {{consultant.phoneNumber}}</td>
        <td><button type="button" class="btn btn-primary" (click)="onSelect(consultant)">Edit</button></td>
      </tr>
    </tbody>
  </table>

  <app-consultant-detail [consultant]="selectedConsultant"></app-consultant-detail>

</div>
